@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.account-card {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background: #262932cc;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
  
.acct-bal {
  font-size: 24px;
  font-weight: 600;
}
  
.total-bal-text {
  color: rgba(255, 255, 255, 0.72);
}


.portfolio-action-wrapper button{
    color: var(--body-text) ;
}

.wallet-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    color: var(--body-text);
}

.wallet-small-text{
    font-size: 12px;
}

.account-card-btn{
  width: 90px;
  height: 35px;
  border-radius: 12px;
  background-color: var(--pri-color);
  color: var(--body-bg);
  font-size: 10px;
  font-weight: 500;
}

/* account action button */
.account-action-btn{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--pri-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-text);
  font-size: 12px;
}
.accordion-button::after{
  display: none;
}