.hero {
  padding-top: 80px;
}

.heroContent {
  font-weight: 600;
  text-transform: capitalize;
  max-width: 450px;
}

.heroInputWrapper {
  margin-top: 48px;
}

.heroInput {
  box-sizing: border-box;
  padding: 0 12px;
  height: 40px;
  width: 280px;
  border-radius: 2px;
  border: 1px solid var(--pri-color);
}

.heroFormBtn {
  background-color: var(--pri-color);
  color: #fff;
  padding: 10px 25px;
  margin-left: 10px;
  border-radius: 5px;
}

.heroBizDetailWrapper {
  padding: 80px 0;
}

.heroBizDetail {
  font-size: 40px;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
}

.heroBizDetail span {
  font-size: 16px;
  font-weight: 400;
}

/* section 2 */
.sectionTwo {
  padding: 80px 0;
}

.sectionTwo header > h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

.cryptoNewsTableWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  justify-items: center;
}

.cryptoNewsTableHeader {
  text-transform: capitalize;
  font-size: 16px;
  color: #707a8a;
}

.cryptoName {
  font-size: 16px;
  font-weight: 500;
}

.cryptoAlias {
  font-size: 14px;
  color: #707a8a;
  text-transform: uppercase;
}

.cryptoPercent {
  font-size: 14px;
  color: rgb(3, 166, 109);
}

@media screen and (min-width: 768px) {
  .heroContent h1 {
    font-size: 56px;
    line-height: 64px;
  }
}
