@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

:root {
  --pri-color: #0053b0;
}

a {
  text-decoration: none !important;
}

button {
  background-color: transparent;
  outline: none !important;
  border: none;
}

button:focus {
  outline: none;
}

nav {
  width: 100%;
  padding: 10px 0;
  background-color: #d1e9fc;
}

.nav-menu a {
  color: #000;
  font-weight: 600;
}

.nav-menu a:hover {
  color: #fff;
}

/* footer */
footer {
  width: 100%;
  padding: 20px 0;
  background-color: #f2f3fa;
  font-weight: 600;
}
