@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

:root {
  --pri-color: #0053b0;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: transparent;
}

h1 {
  font-size: 56px !important;
  font-weight: 600;
}

h2 {
  font-size: 40px !important;
  font-weight: 600;
}

h3 {
  font-size: 24px !important;
  font-weight: 600;
}

h4 {
  font-size: 18px !important;
  font-weight: 600;
}

button {
  background-color: transparent;
  outline: none !important;
  border: none;
}

button:focus {
  outline: none;
}

.pri-btn {
  background-color: var(--pri-color);
  color: #fff;
  padding: 10px 25px;
  margin-left: 10px;
  border-radius: 5px;
}

.pri-btn:hover {
  color: #fff;
}

nav {
  width: 100%;
  padding: 10px 0;
  background-color: #d1e9fc;
}

.nav-menu a {
  color: #000;
  font-weight: 600;
}

.nav-menu a:hover {
  color: #fff;
}

/* footer */
footer {
  width: 100%;
  padding: 20px 0;
  background-color: #222;
  font-weight: 600;
}

.copyright-text {
  color: #fff;
}
